* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    z-index: 1;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
}

.brand-title {
    height: 7rem;
}

.brand-title img{
    height: calc(100% - 2rem);
    margin: 1rem;
}

.navbar-links {
    height: 100%;
    margin-right: 2rem;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    font-size: 25px;
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #d1d1d1;
    border-radius: 1rem;
}

.navbar-links li a:hover {
    color: rgb(282, 83, 21);
}

.toggle-button {
    position: absolute;
    display: none;
    right: 0;
    flex-direction: column;
    justify-content: space-between;
    aspect-ratio : 1 / 1;
    height: calc(112px);
    margin-top: 16px;
    margin-right: 16px;
    padding: .5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .5);
}

.toggle-button .bar {
    height: 5px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}

.offer{
    position: absolute;
    width: 100%;
    background-color: white;
    padding: 2rem 10rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .5);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-144px);
    transition: opacity 0.5s ease-in-out 0s, transform 0.5s ease-in-out 0s;
}

.offer .lists{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.offer .lists .list{
    display: flex;
    flex-direction: column;
}

.offer .lists .list h2{
    font-size: 30px;
    color: rgb(282, 83, 21);
    margin-bottom: 5px;
}

.offer .lists .list a{
    font-size: 20px;
    text-decoration: none;
    pointer-events: fill;
    color: rgb(126, 125, 125);
    padding: 2px;
}

.offer .lists .list a:hover{
    color: rgb(282, 83, 21);
}

.offer .offer-button{
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 13px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .5);
    transition: transform 0.3s ease-in-out 0s;
}

.offer .offer-button:hover{
    background-color: #d1d1d1;
    transform :rotate(90deg);
    transition: transform 0.3s ease-in-out 0s;

}
.offer .offer-button img{
    width: 100%;
}


.contact{
    z-index: 1;
    margin-left: auto;
    margin-top: auto;
    background-color: #e9e7e7;
    padding-bottom: 87px;
}

.contact h1{
    font-size: 60px;
    padding: 70px;
    text-align: center;
    color: black;
    display: block;
}

.contact .info{
    display: flex;
    justify-content: center;
}

.contact .info .element {
    text-align: center;
    margin: 0px 200px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    width: 450px;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .5);

}

.contact .info .element .photo img{
    display: block;
    height: 14rem;
}

.contact .info .element h2{
    padding: 15px;
    font-size: 50px;
}

.contact .info .element p{
    font-size: 30px;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section{
    display: flex;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .5);
}

.section div{
    float: left;
    width: 50%;
    background-color: white;
}

.section .text{
    padding: 0px 100px ;
}

.section .text h1{
    font-size: 40px;
    padding: 30px 0;
}

.section .text p{
    font-size: 20px;
}

.section .image{
    width: 50%;
}

.section .image img{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.container h2{
    padding: 20px 100px;
    font-size: 35px;
    font-weight: 100;
    background-color:rgb(255, 255, 255);
}

.price-list{
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 0 100px;
}

.price-list-tables{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

table{
    width: 49%;
}

th{
    background-color: rgb(255, 255, 255);
    height: 2rem;
}

table, th, tr, td{
    border-collapse: collapse;
    font-size: 20px;
    padding: 5px 10px;
}

 tr.lite{
    border-top: 1px solid rgb(71, 201, 252);
}

tr.solid{
    border-top: 2px solid rgb(71, 201, 252);
}

tr.down{
    border-bottom: 2px solid rgb(71, 201, 252);
}

td.price{
    text-align: center;
}

.comments{
    margin: 20px 0 ;
}

h2.comments-header{
    padding: 10px 0;
}

.comments ul{
    list-style-position: inside;

}